@using Blog.Web.Views.Bases
@using PrettyBlazor
@using Models.Views.Components.Timelines

<div>
    <Condition Evaluation=@(State == TimelineComponentState.Loading)>
        <Match>
            <SpinnerBase @ref=Spinner IsVisible=true Label="Loading..." />
        </Match>
    </Condition>

    <Condition Evaluation=@(State == TimelineComponentState.Content)>
        <Match>
            <Virtualize Items=@PostViews Context=postView>
                <CardBase Title=@postView.Author
                          SubTitle=@postView.UpdatedDate.ToString("dd/MM/yyyy")>
                    <Content>
                        <p>
                            @postView.Content
                        </p>
                    </Content>
                </CardBase>
            </Virtualize>
        </Match>
    </Condition>

    <Condition Evaluation=@(State == TimelineComponentState.Error)>
        <Match>
            <ImageBase @ref=ErrorImage Url="/imgs/error.jpg" Width="200px" />
            <LabelBase @ref=Label Value=@ErrorMessage />
        </Match>
    </Condition>
</div>