@page "/"
@using Blog.Web.Views.Bases
@using Blog.Web.Views.Components.Timelines
@using Blog.Web.Views.Components.PostDialogs


@*<PostDialog @ref=Dialog/>*@
@*<TimelineComponent/>*@
<div class="col-lg-12 appbar-control-section">
    <div class="default-appbar-container">
        <div class="row">
            <div class="col-md-12">
                <SfAppBar ColorMode="AppBarColor.Primary">
                   <SfButton aria-label="menu" CssClass="e-inherit menu" IconCss="e-icons e-menu"></SfButton>
                   <span class="regular">Blazor AppBar</span>
                   <AppBarSpacer></AppBarSpacer>
                   <SfButton CssClass="e-inherit login" Content="FREE TRIAL"></SfButton>
                </SfAppBar>
            </div>
        </div>
    </div>
</div>
