@page "/"
@using Blog.Web.Views.Bases
@using Blog.Web.Views.Components.Timelines
@using Blog.Web.Views.Components.PostDialogs

@*<PostDialog @ref=Dialog/>*@
@*<TimelineComponent/>*@
<div class="container">

</div>
