@page "/"
@using Blog.Web.Views.Bases

<DialogBase @ref=Dialog Title="My first blog post." OnClick=@CloseDialog ButtonTitle="Submit">
    <Content>This is the blog content</Content>
</DialogBase>

<CardBase Title="This is the post title" SubTitle="This is post subtitle">
    <Content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet massa tincidunt nunc pulvinar. Euismod lacinia at quis risus sed. Consequat nisl vel pretium lectus quam. Vel fringilla est ullamcorper eget nulla facilisi. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Dolor sit amet consectetur adipiscing elit. Mi sit amet mauris commodo. Hac habitasse platea dictumst quisque sagittis purus. Nibh tortor id aliquet lectus proin nibh. Purus non enim praesent elementum facilisis. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Lectus nulla at volutpat diam. Quam quisque id diam vel quam elementum pulvinar etiam. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Mauris ultrices eros in cursus turpis. Sit amet nulla facilisi morbi.

            Tortor pretium viverra suspendisse potenti. Consequat ac felis donec et odio pellentesque. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Facilisis mauris sit amet massa vitae tortor. Tellus at urna condimentum mattis pellentesque. Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus. Nunc scelerisque viverra mauris in. Cursus eget nunc scelerisque viverra mauris. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus.

            Porttitor leo a diam sollicitudin tempor id eu nisl. Velit dignissim sodales ut eu sem integer. Neque volutpat ac tincidunt vitae semper. Sagittis purus sit amet volutpat consequat mauris. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Elementum facilisis leo vel fringilla est ullamcorper. Cum sociis natoque penatibus et magnis dis parturient montes. Aliquet nibh praesent tristique magna sit amet. Purus viverra accumsan in nisl nisi. Ac felis donec et odio pellentesque diam volutpat. Urna molestie at elementum eu facilisis sed. Blandit libero volutpat sed cras ornare. Tempus quam pellentesque nec nam aliquam sem et tortor. Velit egestas dui id ornare arcu. Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas.

            Sapien eget mi proin sed libero enim sed faucibus turpis. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Dignissim sodales ut eu sem integer. Sollicitudin nibh sit amet commodo nulla facilisi. Aliquet nec ullamcorper sit amet risus nullam eget felis. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Laoreet non curabitur gravida arcu ac tortor dignissim convallis. Aenean vel elit scelerisque mauris pellentesque. Vitae turpis massa sed elementum. Magna fringilla urna porttitor rhoncus dolor purus non. Sapien eget mi proin sed libero. Donec pretium vulputate sapien nec sagittis aliquam. Eget felis eget nunc lobortis mattis. Turpis cursus in hac habitasse platea dictumst quisque sagittis. Rhoncus urna neque viverra justo nec.

            Adipiscing enim eu turpis egestas pretium aenean pharetra magna ac. Quam id leo in vitae turpis massa sed elementum. Proin sed libero enim sed faucibus turpis. Suspendisse faucibus interdum posuere lorem ipsum dolor sit. Nisl vel pretium lectus quam id. Odio aenean sed adipiscing diam. Vulputate enim nulla aliquet porttitor. Porttitor rhoncus dolor purus non. Imperdiet sed euismod nisi porta lorem. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Et netus et malesuada fames ac turpis egestas maecenas. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Nisl rhoncus mattis rhoncus urna neque viverra justo nec. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. At tempor commodo ullamcorper a. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique.
        </p>
    </Content>
    <Footer>
        This is the post footer
    </Footer>
</CardBase>